.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.searchbar input {
    background-color: var(--theme);
    border: 2px solid var(--purple-grey);
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 300;
    padding: 0.7rem 1rem;
    margin-right: 0.5rem;
    width: 30vw;
}

.searchbar button {
    background-color: var(--purple-grey);
    border: 2px solid var(--white);
    border-radius: 0.5rem;
    color: #fff;
    color: var(--white);
    font-size: 1rem;
    font-weight: 300;
    padding: 0.7rem 1rem;
    width: 80px;
}

.card-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 20px;
}