@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --theme: #20062E;
    --blue: #18b2de;
    --white: #fff;
    --grey: #d7d7d7;
    --purple-grey: #8f8297;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--theme);
    color: var(--white);
}

a {
    text-decoration: none;
}

.main {
    width: 90vw;
    margin-inline: auto;
}

h1 {
    text-align: center;
}